body {
    margin: 0;
    padding: 0;
}


.loginHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    margin-top: 10%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


/* Media Query for Mobile: */
@media (max-width: 819px) {
    .loginContainer {
        width: 80%;
        margin-top: 14rem;
    }
}

/* Media Query for Mobile: */

/* Media query for Tablet: */

@media ((min-width: 820px) and (max-width: 1180px)) {
    .loginContainer {
        margin-top: 20rem;
    }
}

/* Media query for Tablet: */