body {
    margin: 0;
    padding: 0;
}

.todoContainer {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.todoHeadingWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.todoListWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}



.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.wrapper {
    max-width: 100%;
    background-color: blanchedalmond;
}

.updateButtonsWrapper {
    margin-left: 1rem;
}

.taskNameandPriorityWrapper blockquote {
    word-break: break-word;
}