body {
    margin: 0;
    padding: 0;
}

.todoContainer {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.todoHeadingWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.todoListWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 1rem; */
    max-width: 20%;
    flex-basis: auto;

}

.deleteButtonsWrapper,
.updateButtonsWrapper {
    flex-shrink: 0;
}

.wrapper {
    width: 100%;
    background-color: blanchedalmond;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* .updateButtonsWrapper {
    margin-left: 1rem;

} */

.taskNameandPriorityWrapper {
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


/* Media query for mobile: */

@media (max-width: 390px) {
    .todoContainer {
        margin-top: 3rem;
    }

    .buttonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

/* Media query for mobile: */